/* settings for first container */
#container1 {
    /* border: 5px solid yellow; */
    display: flex;
    /* background-color: lightgoldenrodyellow; */
    width: 96%;
    padding:2%;
}

/* settings for second container */
#container2 {
    /* border: 5px solid orange; */
    display: flex;
    /* background-color: lightgoldenrodyellow; */
    width: 98%;
    padding:1%;
}

/* settings for third container */
#container3 {
    /* border: 5px solid orange; */
    display: flexbox;
    align-items: center;
    margin-left: auto;
    /* background-color: lightgoldenrodyellow; */
    width: 53%;
    /* padding:1%; */
    margin-bottom: 5%;
}

/* uniform color for the entire page */
body {
    background-color: lightgray;
}

/* color all header text black */
h1 {
    color:Black;
}

/* properties of the image */
.productImage {
    /* border: 3px solid blue; */
    /* background-color: rgb(249, 251, 252); */
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 40%;
    height: 66%;
    transition: transform .2s;
}

/* properties of image when hovered upon */
.productImage.hover {
    transform-origin: 0% 40%;
    transform: scale(1.75);
}

/* settings for info section of page */
.productInfo {
    /* border: 3px solid green; */
    /* background-color: rgb(232, 252, 232); */
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 20px;
    width: 60%;
}

/* settings of shopping cart image */
#shoppingCart {
    width: 50px;
    height: 50px;
    /* display: flex; */
    /* flex-direction: row; */

}

/* display settings for description of product */
#productDescription {
    /* border: 3px solid; */
    /* background-color: rgb(245, 252, 243); */
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 60%;
} 

/* display setting for product title */
.productTitle {
    color:black;
    font-size: 30pt;
}

/* display settings for prooduct manufacturer */
.productMfr {
    color: black;
    font-size: 20pt;
}

/* display settings for product price */
.productPrice {
    color: blue;
    font-weight: bolder;
    font-size: 28pt;
}

/* display settings for cart description box */
#cartDescription {
    /* border: 3px solid; */
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 60%;
}

/* properties for all buttons */
.buttons {
    display: flex;
    justify-content: space-between;
    transition-duration: 0.4s;
}

/* properties for button #1 */
#button1 {
    font-size: 20pt;
    /* align-items: left; */
    padding: 5%;
    border: 2px solid blue;
    color: black;
    background-color: rgb(137, 137, 202);    
}

/* properties for on hover of button #1 */
#button1:hover {
    background-color: blue;
    color:white;
}

/* properties for button #2 */
#button2 {
    font-size: 20pt;
    /* align-items: right;*/
    padding: 12px 28px;
    border: 2px solid blue;
    color: black;
    background-color: rgb(137, 137, 202);    
}
/* properties for on hover of button #2 */
#button2:hover {
    background-color: blue;
    color:white;
}

/* modal properties */
.modal {
    display: block;
    width: 80%;
    height: 80%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
}

/* properties for modal content */
.modal-content {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20% auto;
    margin-left: 20%;
    background-color: beige;
}

/* properties for close function of modal */
#close {
    font-size: x-large;
    font-weight: bolder;
}

/* properties for review #1 */

#reviewOne {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    color: black;
    /* background-color: beige; */
    
}

/* properties for review #2 */
#reviewTwo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    color: black;
    /* background-color: beige; */
}

/* properties for page 2, similar items */
.pageSimilarItems {
    background: #E2E1E0;
    text-align: center;
  }

  /* properties of all cards */
  .card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
  }

  /* details of each card, shadoiwng and hover */
  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .card-2 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .card-2:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .card-3 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .card-3:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .card-4 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .card-4:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .card-5 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .card-5:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .card-6 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .card-6:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .card-7 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .card-7:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .card-8 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .card-8:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }